server:
  port: 9001
  tomcat:
    connection-timeout: 2s
    keep-alive-timeout: 15s
    threads:
      max: 50
      min-spare: 5

spring:
  application:
    name: catalog-service
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      requestConnectTimeout: 5000
      requestReadTimeout: 5000
      failFast: false
      retry:
        maxAttempts: 6
        initialInterval: 1000
        maxInterval: 2000
        multiplier: 1.1
  management:
    endpoints:
      web:
        exposure:
          include: refresh
  datasource:
    username: user
    password: password
    url: jdbc:postgresql://localhost:5432/polardb_catalog
    hikari:
      connection-timeout: 2000
      maximum-pool-size: 5

polar:
  greeting: Welcome to the local book catalog!
